* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
}

:root {
    --primary-color: #80deea;
    --primary-light-color: #b4ffff;
    --primary-dark-color: #4bacb8;
    --secondary-color: #b2ebf2;
    --secondary-light-color: #e5ffff;
    --secondary-dark-color: #81b9bf;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    min-height: 100%;
}

a {
    text-decoration: none;
    outline: none;
    color: black;
}

a:hover {
  color: var(--primary-light-color);
}

header {
  background-color: var(--primary-color);
  height: 15%;
  font: 400 70px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
  display: flex;
  justify-content: space-between;
}

header a:link {
  text-decoration: none;
}

header img {
  max-width: 64px;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 16px;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.minicart {
   font-size: 0.8em;
   margin: 10px;
}

/* Table */
table {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--secondary-color);
}

thead {
    background-color: var(--secondary-dark-color);
}

td {
  padding: 10px;
  width: 25%;
  text-align: center
}

.product-list tr:nth-child(even) {
    background-color: var(--secondary-light-color);
}

.price {
  text-align: center;
}


img.product-tile {
  min-width: 128px;
}

/* Search */
.search-form {
    display: flex;
    padding: 2%;
}

#search-input {
    width: 18.75em;
    height: 2.5em;
    margin: 5px;
    margin-left: 0;
    padding-left: 10px;
    border: 1px solid;
    border-radius: 1.25em;
    border-color: var(--primary-dark-color);
}

.default-button {
    padding: 5px 5px;
    margin: 5px 5px;
    border: thin solid white;
    border-radius: 1.25em;
    border-color: white;
    background-color: var(--primary-color);
    cursor: pointer;
    font-size: 1.25em;
    font-color: white;
}

.default-button:hover {
    background-color: var(--primary-dark-color);
}

/* Product list */
.product-list {
    display: flex;
    flex-direction: column;
    padding: 0 2% 2% 2%;
}

/*Product details*/
.product {
    padding: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.product img {
    margin: 5px;
}

.product-description {
    width: 70%;
    margin-left: 5%;
}

.product-description table {
    margin: 10px 10px 10px 0px;
    background-color: var(--secondary-light-color);
}

.error-message {
    color: red;
    padding: 15px;
}

.success-message {
    color: green;
    padding: 15px;
}

.error-div {
      height: 83.5vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
}

.viewed-items {
  display: flex;
  flex-direction: row;
}

.viewed-item {
  margin: 15px;
  width: 150px;
  border: var(--secondary-color) solid 1px;
  background: var(--secondary-color);
  text-align: center;
}

.viewed-item img {
  width: 100px;
}

footer {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1em;
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: -5rem;
}

#footer-div {
    margin: 1em;
    color: black;
}